@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700&family=Poppins&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;
* > *{
    font-family: 'Poppins', sans-serif;
   
}
#card{
    position: absolute;
    top:24%;
    left:8%;
    width: 92%;
    margin-bottom: 15px;
    /* height: 100vh; */
    flex-wrap: wrap;
}
body{
    background: #dcdce6;
    background-image: url('./assets/Background.png');
}
main{
    width: 100%;
    padding: 0px;
}
.sidebar{
    background: #000;
    color: #fff;
    height:100vh;
    width: 200px;
    transition: all 0.5s;
    z-index: 800;
}
.top-section{
    align-items: center;
    padding: 20px 15px;
}
.logo{
    font-size: 30px;
    width: 8rem;
    height: 8rem;
}
.logo img {
    width: 100%;
    height: 100%;
}
.bars{
    font-size: 25px;
    margin-left:50px ;
}
.link{
    color:#fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background-color: #fff;
    color:#000;
    transition:all 0.5s;
}
.active{
    background-color: #fff;
    color:#000
}
.icon, .link_text{
    font-size: 20px;
}
.logout{
    margin-top: 400px;
}
/**offer**/
/**header**/
.cards{
    background-color: #fff;
    border-radius: 25px;
    margin: 16px;
    height: 80vh;
    padding-top: 2px;
overflow-y: scroll;

}

.champProfile{
    background-color: white;
    width: 90%;
}

.layout{
    width: 100%;
    height: 96%;
   
}
.cardprofile{
    background-color: #fff;
    border-radius: 25px;
    margin: 16px;
    height: 80vh;
    padding-top: 2px;
    width: 40%;
    overflow: auto;
    overflow-y: scroll;
}

.cardModif{
    background-color: #fff;
    border-radius: 25px;
    margin: 16px;
    height: 80vh;
    padding-top: 2px;
    width: 60%;
    overflow: hidden;
    overflow-y: scroll;
}
.cardDetails{
    background-color: #fff;
    border-radius: 25px;
    margin: 16px;
    height: 80vh;
    padding-top: 2px;
    width: 97.6%;
    overflow: hidden;
    overflow-y: scroll;
    
}
.cardrecut{
    background-color: #fff;
    border-radius: 25px;
    margin: 16px;
    height: 40vh;
    padding-top: 2px;
    width: 97.6%;
    overflow: hidden;
    overflow-y: scroll; 
    border:solid #000 1px;
}

   

.famly-layout{
    font-weight: bolder;
    font-size: 20px;
}
.w{
    width: 40%;
}
.hide{
    background-color: #fff;
    border-radius: 25px;
    margin: 16px;
    height: 8vh;
    padding-top: 2px;
    position: relative;
    border-collapse: collapse;
}
.text{
  margin: 12px;
}
.imgHed{
    margin-top: -14px;
     border-radius: 100%;
     width: 5rem;
     height: 3rem;
     opacity: 1;
 
 }
.footer{
    background-color: white;
}
/* .pro{
  justify-content: stretch;
  margin-top: -12px;

  background: red;
}
 */
 .hid{
    justify-content:  space-between;
   width: 100%;
  }
.position{
   padding-left: 16px;
   padding-bottom: 21px;
    width: 55%;
    height: 5rem;
    float: right;

}
.badge{
    border-radius: 100%;
    height: 20px;
    width: 20px;
    background: red;
    margin-right: 35px;
}
/**card publication**/
.pub{
    border: 2px solid black;
    margin: 12px;
    border-radius: 20px;
    padding: 12px;
    box-shadow: 10px 5px 5px gainsboro;

}
.pub:hover{
    background-color: #dcdce6;
    border-left:5px solid #000;
    border-top:1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.btn1{
    background-color: orange;
    color: #fff;
    border-radius: 20px;
    padding: 10px;
    margin: 6px;
}
.btn2{
    background-color: green;
    color: #fff;
    border-radius: 20px;
    padding: 10px;
    margin: 6px;
}
.btngoquiz{
    background-color: green;
    color: #fff;
    border-radius: 20px;
    padding: 10px;
    margin-left: 50px;
}
.btn3{
    background-color: red;
    color: #fff;
    border-radius: 20px;
    padding: 10px;
    margin: 6px;
}
.groupbtn{
    justify-content: flex-end;
   
}
.imgpub{

    height: 40px;
    width: 60px;
}
.form-control{
    justify-content: flex-end;
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 0px;
    width: 20%;
    margin-left: 21px;
    margin-top: 18px;
    margin-bottom: 18px;

}
.imputsearch{
    border: 2px solid white;
}

.displ{
    flex: auto;
}

.photoContact{
    height: 300px;
    width: 700px; 
    margin-top: 40px;
}
.cardconatct{
    background-color: hsl(0, 0%, 100%);
    border-radius:25px;
    margin-top: 20px;
}
.x{
    flex: auto;
}
.cardMesoffre{
    background-color: #fff;
    border-radius: 25px;
    margin-left: 16px;
    margin-right: 16px;
    height: 85vh;
    padding-top: 2px;
    width: 98%;
    overflow: hidden;
    overflow-y: scroll;
}
.cardoffre{
    background-color: #fff;
    border-radius: 25px;
    margin: 40px;
    height: 42vh;
    padding-top: 2px;
    overflow: hidden;
    
    width: auto;
    box-shadow: 10px 5px 5px rgb(185, 182, 182);
    border: 2px solid black;
}
.ajou{
    margin-right: 70px;
    margin-top: 16px;
    background-color: green;
    color: white;
    border-radius: 20px;
    padding: 6px;
   
}
.accepter{
  
   
    background-color: green;
    color: white;
    border-radius: 100px;
    padding: 6px;
   
}
.name{
    color: #000;

    font-weight: bold;
    font-size: large ;
}
.nb{
    color: red;
    font-weight: bold;
}
.secondary{
    color: white;
    border-radius: 25px;
    height: 30px;
    width: 120px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.flexajou{
    justify-content:space-between;
}
.btnsupprimer{
    background-color: red;
    color: #fff;
    border-radius: 20px;
    padding: 10px;
    margin: 6px;
}
/** detail**/
.border-left{
    margin-top: 50px;
    border-right: 2px solid black;
   
    
}
.groupbtn{
    display: flex;
    justify-content: flex-end;
    margin-right: 4%;
   margin-bottom: 4%;
}
.marg{
    margin-right: 180px;
    margin-left: 150px;
    font-size: large;
    font-weight: bold;
}

.colors{
    color: blue;
}
.colors:hover{
    color: red;
}
.detail{
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
}
  /**formulaire**/
  .borderformul{
    margin-left: 15%;
    margin-right: 15%;
    border: 2px solid rgb(8, 146, 4);
    height: 50vh;
    padding-right: 12px;
    width: 80%;
  }
  .f{
    flex-direction: column;
  }
 .formcontrol{
    
    box-shadow: none;
    border: 2px solid black;
    width: 70%;
    padding: 6px;
    border-radius: 12px;
 }
 .formcontrolinput{
    
    box-shadow: none;
    border: 2px solid black;
    width: 30%;
    padding: 6px;
    border-radius: 12px;
 }
 .imgprofile{
    width: 20px;
    height: 20px;
 }
   /**...........**/
   .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


  
.circle {
    width: 49px;
    height: 49px;
    line-height: 45px;
    background-color: green;
    color: white;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  
  .stepWrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .stepBlock .circleWrapper {
    padding: 0px 20px;
    position: relative;
  }
  
  .selected .circle {
    color: black;
    background-color: white;
    border-color: green;
  }
  
  .stepBlock:not(:last-child) > .circleWrapper::after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    background-color: rgb(128, 0, 2);
    margin: auto;
    z-index: -1;
  }
  
  .stepBlock:not(:last-child) > .circleWrapper::after {
    height: 3px;
  }
  
  .stepBlock:not(:last-child).selected > .circleWrapper::after, .stepBlock:not(:last-child).selected ~ .stepBlock:not(:last-child) > .circleWrapper::after {
    height: 2px;
    opacity: 0.6;
  }
  

  
  .primaryButton:disabled {
    opacity: 0.5;
  }
@media only screen and (max-width: 670px) {
    
    .cardprofile{
        position: absolute;
        width: 80%;
        display: block;
        height: 48vh;
    }
    .layout{
        width: 100%;
        height: 100vh;
       margin-left: 50px;
    }
    .sidebar{
        position: fixed;
      
    }

    .cardModif{
        position: absolute;
        margin-top: 51vh;
        width: 80%;
        display: block;
        height: 50vh;
        
        }
        .x{
            flex: none;
        }
  }

  /*formation */
.cardformation{
    background-color: #fff;
    border-radius: 25px;
    margin: 16px;
    height: 80vh;
    padding-top: 2px;
    width: auto;
    overflow: hidden;
    overflow-y: scroll;
}
.cardTitle{
    background-color: #893ca8;
    border-radius: 25px;
    margin: 2px;
   
    padding-top: 2px;
    width: auto;
    overflow: hidden;
   
}
#textF{
    color: rgb(242, 238, 247);
    margin-left: 500px;
}
.buttonsubmit{
    background-color: #893ca8;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    margin-top: 85px;
}
.buttonsubmit2{
    background-color: #893ca8;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-left: 1015px;
    
}
.buttonNext{
    background-color: #893ca8;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-top: 60px;
    margin-left: 1019px;
}
.buttonNext2{
    background-color: #893ca8;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-top: 60px;
    margin-left: 955px;
}
.buttonback{
    background-color: rgb(179, 177, 175);
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-top: 60px;
    margin-left: 10px;
}
#divsub{
    margin-top: 20px;
}
#contentFormation{
    margin-left: 120px;
}
/* formation */

/*quiz*/
.quiz{
    align-items: center;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 600px;
  max-width: 90%;
  margin-left: 300px;
  margin-top: 50px;
}
  

.AnswerButton{
margin-left: 80px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  
  box-shadow: '0px 2px 5px rgba(0, 0, 0, 0.2)';
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 18px;
  padding: 10px;
  background-color: rgb(179, 177, 175);
    color: #080808;
}
.question{
    margin-top: 20px;
}
.answer{
    margin-top: 60px;
    margin-left: 60px;
}
.btnpost{
    background-color: green;
    color: #fff;
    border-radius: 20px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 170px;
}
.cardTitlequiz{
    background-color: green;
    border-radius: 25px;
    margin: 2px;
   
    padding-top: 2px;
    width: auto;
    overflow: hidden;
   
}
.labelcv{
    margin-left: 60px;
    font-family:'Times New Roman', Times, serif;
}
