.clients {
  display: flex;
  flex-direction: column;
  padding: 6.4rem 0;
}

.text {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 6.4rem;
  max-width: 48rem;
  text-align: center;
}

.text > h2 {
  font-weight: 700;
  font-size: 3.2rem;
}

.text > p {
  margin-top: 2.4rem;
  color: #637381;
}

.grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3.2rem;
}

.box {
  width: 100%;
  display: inline-block;
  padding: 0 1.2rem;
}

.box > div {
  padding: 2.4rem 0;
  background-color: white;
  color: #212b36;
  border-radius: 1.6rem;
  border: 1px solid rgba(145, 158, 171, 0.24);
  background-image: none;
}

.box > div > span {
  display: block;
  line-height: 0;
  overflow: hidden;
  width: 10.6rem;
  height: 3.2rem;
  margin: 0 auto;
}

.logoWrapper {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-size: contain !important;
}

.logoWrapper > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media only screen and (min-width: 600px) {
  .text > h2 {
    font-size: 4rem;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 900px) {
  .clients {
    padding: 12rem 0;
  }

  .grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .text > h2 {
    font-size: 4.4rem;
  }
}

@media only screen and (min-width: 1200px) {
  .text > h2 {
    font-size: 4.8rem;
  }
}
