.subscription {
  padding: 8rem 0;
  background-color: rgba(177, 194, 216, 0.88);
  background-image: linear-gradient(
      to bottom,
      rgba(22, 28, 36, 0.88),
      rgba(22, 28, 36, 0.88)
    ),
    url('../../../../assets/home/images/bg.jpg');
  background-size: cover;
  background-position: center center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
}

.content h2 {
  font-size: 3.2rem;
  font-weight: 700;
  color: white;
  text-align: center;
}

.content p {
  color: white;
  text-align: center;
}

.content > * {
  margin-top: 2.4rem;
}

.content > *:first-child {
  margin-top: 0;
}

.content > div {
  color: #212b36;
  display: inline-flex;
  align-items: center;
  position: relative;
  transition: background-color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  border-radius: 0.8rem;
  width: 100%;
  max-width: 56rem;
  background-color: white;
  overflow: hidden;
}

.content > div > input {
  padding: 1.8rem 0;
  color: #212b36;
  border: 0;
  box-sizing: content-box;
  background: none;
  height: 2.1rem;
  display: block;
  min-width: 0;
  width: 100%;
  padding: 1.8rem 0 1.8rem 1.2rem;
  line-height: 1.6;
  font-size: 1.4rem;
}

.content > div > input::placeholder {
  color: #919eab;
  opacity: 1;
  transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.content > div > input:focus {
  outline: 0;
}

.btnWrapper {
  display: flex;
  height: 0.01rem;
  max-height: 3.2rem;
  align-items: center;
  white-space: nowrap;
  columns: #637381;
  background-color: aqua;
  margin-left: 0.8rem;
}

.btnWrapper > button {
  border-style: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  outline: 0;
  border: 0;
  margin: 0;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: capitalize;
  min-width: 6.4rem;
  border-radius: 0.8rem;
  padding: 0.8rem 2.2rem;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: white;
  background-color: crimson;
  box-shadow: none;
  height: 5.8rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  white-space: nowrap;
  text-align: center;
}

.btnWrapper > button:hover {
  box-shadow: none;
  background-color: #b31b39;
  text-decoration: none;
}

.btnWrapper > button > span {
  text-align: center;
  overflow: hidden;
  position: absolute;
  z-index: 0;
  inset: 0;
  border-radius: inhreit;
}

@media only screen and (min-width: 600px) {
  .content h2 {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 900px) {
  .content h2 {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 1200px) {
  .content h2 {
    font-size: 4.8rem;
  }
}
