// @import '~bootstrap/scss/bootstrap';
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";
@import '../../assets/homed/css/fontAwesome5Pro.css';
@import '../../assets/homed/scss/main.scss';