.postJob {
  padding: 8rem 0;
  background-color: rgba(177, 194, 216, 0.88);
  background-image: linear-gradient(
      to bottom,
      rgba(22, 28, 36, 0.88),
      rgba(22, 28, 36, 0.88)
    ),
    url('../../../../assets/home/images/bg.jpg');
  background-size: cover;
  background-position: center center;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -2.4rem;
  margin-left: -2.4rem;
  width: calc(100% + 2.4rem);
}

.content > div {
  padding-left: 2.4rem;
  padding-top: 2.4rem;
  flex-basis: 100%;
  flex-grow: 0;
  max-width: 100%;
}

.content > div:first-of-type {
  color: #fff;
  text-align: center;
}

.content > div:first-of-type > span {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: crimson;
  display: block;
  margin-bottom: 1.6rem;
}

.content > div:first-of-type > h2 {
  font-weight: 700;
  font-size: 3.2rem;
}

.content > div:first-of-type > p {
  color: #fff;
  opacity: 0.7;
  margin: 2.4rem 0 4rem;
}

.content > div:first-of-type > button {
  border-style: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: capitalize;
  min-width: 6.4rem;
  padding: 0.8rem 2.2rem;
  border-radius: 0.8rem;
  background-color: crimson;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: none;
  height: 4.8rem;
}

.content > div:first-of-type > button:hover {
  background-color: #b31b39;
}

button > span {
  color: #fff;
}

.iconWrapper {
  margin-right: 0.8rem;
  margin-left: -0.4rem;
}

.iconWrapper > svg {
  width: 2.2rem;
  height: 2.2rem;
  color: #fff;
}

.styling {
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  z-index: 0;
  inset: 0px;
  border-radius: inherit;
}

.content > div:nth-of-type(2) {
  display: none;
}

@media only screen and (min-width: 600px) {
  .content > div:first-of-type > h2 {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 900px) {
  .content > div {
    flex-basis: 50%;
    flex-grow: 0;
    max-width: 50%;
  }
  .content > div:first-of-type {
    text-align: left;
  }

  .content > div:first-of-type > h2 {
    font-size: 4.4rem;
  }

  .content > div:nth-of-type(2) {
    display: block;
  }

  .content > div:nth-of-type(2) > span {
    line-height: 0;
    overflow: hidden;
    display: block;
  }

  .vectorWrapper {
    display: inline-block;
    filter: blur(0);
    transition: blur 300ms;
    width: 100%;
    height: 100%;
    background-size: cover !important;
  }

  .vectorWrapper > svg {
    opacity: 1;
    transition: opacity 300ms;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media only screen and (min-width: 1200px) {
  .content > div {
    flex-basis: 45%;
    flex-grow: 0;
    max-width: 45%;
  }

  .content > div:first-of-type > h2 {
    font-size: 4.8rem;
  }
}
