.topCompanies {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: rgba(145, 158, 171, 0.12);
  padding-top: 6.4rem;
}

.topCompanies > div > h2 {
  font-size: 3.2rem;
  font-weight: 700;
  text-align: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* grid-template-columns: repeat(2, 1fr); */
  margin: 0 auto;
}

.box {
  flex-basis: 50%;
  flex-grow: 0;
  max-width: 50%;
  /* width: 100%; */
  padding: 2rem 0;
}

/* Berkshire Hathaway color */
.box:nth-of-type(6) > div > span > span.logoWrapper {
  background-color: #542549;
}

/* Alphabet color */
.box:nth-of-type(9) > div > span > span.logoWrapper {
  background-color: #d22030;
}

.box > div {
  padding: 4rem 0;
  margin: 0 auto;
  border-radius: 1.6rem;
  cursor: pointer;
  text-align: center;
  position: relative;
  transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.box > div:hover {
  background-color: #fff;
  box-shadow: -24px 24px 72px -8px rgba(145, 158, 171, 0.24);
}

.box > div > span {
  display: block;
  line-height: 0;
  overflow: hidden;
  margin: 0 auto;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 0.8rem;
}

.logoWrapper {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-size: contain !important;
  background-color: white;
}

.logoWrapper > img {
  opacity: 1;
  transition: opacity 300ms;
  display: block;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.box > div > p {
  margin: 2rem 0 0.4rem;
  font-size: 1.3rem;
  color: #919eab;
}

.box > div > h6 {
  font-weight: 600;
  font-size: 1.4rem;
  height: 5.2rem;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

@media only screen and (min-width: 600px) {
  .topCompanies > div > h2 {
    font-size: 4rem;
  }

  /* .grid {
    grid-template-columns: repeat(3, 1fr);
  } */

  .box {
    flex-basis: 33.33%;
    max-width: 33.33%;
  }
}

@media only screen and (min-width: 900px) {
  .topCompanies {
    padding-top: 12rem;
  }

  .topCompanies > div > h2 {
    font-size: 4.4rem;
  }

  /* .grid {
    grid-template-columns: repeat(4, 1fr);
  } */

  .box {
    flex-basis: 25%;
    max-width: 25%;
    padding: 6.4rem 0;
  }
}

@media only screen and (min-width: 1200px) {
  .topCompanies > div > h2 {
    font-size: 4.8rem;
  }

  /* .grid {
    grid-template-columns: repeat(5, 1fr);
  } */

  .box {
    flex-basis: 20%;
    max-width: 20%;
  }
}
