.featuredJobs {
  padding: 8rem 0;
  background: linear-gradient(
    to bottom,
    rgba(145, 158, 171, 0),
    rgba(145, 158, 171, 0.12)
  );
}

.text {
  text-align: center;
  width: calc(100% + 1.6rem);
  margin-left: -1.6rem;
  margin-top: -1.6rem;
  display: flex;
  flex-wrap: wrap;
}

.text > div {
  padding-top: 1.6rem;
  padding-left: 1.6rem;
  flex-basis: 100%;
  flex-grow: 0;
  max-width: 100%;
}

.text > div > span {
  font-weight: 600;
  color: #919eab;
  font-size: 1.2rem;
}

.text > div > h3 {
  font-weight: 700;
  font-size: 2.4rem;
}

.grid {
  padding: 6.4rem 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3.2rem;
}

.btnWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnWrapper > button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: relative;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
  min-width: 6.4rem;
  height: 4.8rem;
  padding: 0.7rem 2.1rem;
  border-radius: 0.8rem;
  box-shadow: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-color: rgba(145, 158, 171, 0.32);
}

.btnWrapper > button:hover {
  background-color: rgba(145, 158, 171, 0.08);
  box-shadow: none;
  border-color: #212b36;
  text-decoration: none;
}

.btnIconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -0.4rem;
  margin-left: 0.8rem;
  color: inherit;
}

.btnIconWrapper > svg {
  color: inherit;
  width: 2.2rem;
  height: 2.2rem;
}

.styling {
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  z-index: 0;
  inset: 0px;
  border-radius: inherit;
}

@media only screen and (min-width: 600px) {
  .text > div > h3 {
    font-size: 2.6rem;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .top > div:nth-of-type(2) > a {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 900px) {
  .featuredJobs {
    padding: 12rem 0;
  }

  .text {
    text-align: unset;
    width: calc(100% + 3.2rem);
    margin-top: -3.2rem;
    margin-left: -3.2rem;
  }

  .text > div {
    padding-top: 3.2rem;
    padding-left: 3.2rem;
  }

  .text > div:first-of-type {
    flex-basis: 33.33%;
    max-width: 33.33%;
  }

  .text > div:nth-of-type(2) {
    flex-basis: 66.66%;
    max-width: 66.66%;
  }

  .text > div > h3 {
    font-size: 3rem;
  }

  .grid {
    padding: 8rem 0;
    row-gap: 4rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1200px) {
  .text > div > h3 {
    font-size: 3.2rem;
  }
}
