.cards{
    background-color: #fff;
    margin: 16px;
    height: 80vh;
    padding-top: 2px;
overflow-y: scroll;

}
.hide{
    background-color: #fff;
    margin: 16px;
    height: 8vh;
    padding-top: 2px;
    position: relative;
    border-collapse: collapse;
}
.text{
  margin: 12px;
}
.imgHed{
border-radius: 100%;
    height: 40px;
    width: 60px;
    margin-bottom: 10%;
}
.pro{
  justify-content: stretch;
}
.hid{
  justify-content:  space-between;
}
.position{
    padding-right: 70px;
    padding-top: 9px;
    padding-bottom: 16px;
}
.badges{
    border-radius: 100%;
    height: 20px;
    width: 20px;
    padding-left: 9px;
}
.imgpub{

    height: 40px;
    width: 60px;
}