.glass{
    @apply h-3/4 w-5/6;
}

.profile_img{
    @apply w-40 cursor-pointer;
}

.textbox{
    @apply w-3/4;
}








/** detail**/
.groupbtn{
    justify-content: flex-end;
    margin-right: 4%;
   margin-bottom: 4%;
}
.btn1{
    background-color: green;
    color: #fff;
    border-radius: 20px;
    padding: 10px;
    margin: 6px;
}
.btn2{
    background-color: rgb(94, 81, 188);
    color: #fff;
    border-radius: 20px;
    padding: 10px;
    margin: 6px;
}
.border-left{
    margin-top: 50px;
    border-right: 2px solid black;
   
    
}
.marg{
    margin-right: 180px;
    margin-left: 150px;
    font-size: large;
    font-weight: bold;
}

.colors{
    color: blue;
}
.colors:hover{
    color: red;
}
.detail{
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
}
.cardpub{
    justify-content: space-between;

}
@media only screen and (max-width: 620px) {

}




