.box {
  background-color: #fff;
  color: rgb(33, 43, 54);
  box-shadow: rgba(145, 158, 171, 0.1) -8px 8px 24px -4px;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  overflow: hidden;
  border-radius: 1.6rem;
  position: relative;
}

.box:hover {
  box-shadow: rgba(145, 158, 171, 0.24) -24px 24px 72px -8px;
}

.heartWrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  outline: rgb(99, 115, 129) none 0;
  color: rgb(99, 115, 129);
  border: 0;
  cursor: pointer;
  text-decoration: none;
  appearance: none;
  border-radius: 50%;
  position: absolute;
  top: 2.4rem;
  right: 2.4rem;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.heartWrapper:hover {
  background-color: rgba(255, 72, 66, 0.08);
  top: 1.6rem;
  right: 1.6rem;
  padding: 0.8rem;
}

.heartWrapper.active > svg {
  color: rgb(255, 72, 66);
}

.heartWrapper > svg {
  width: 2rem;
  height: 2rem;
}

.styling {
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  z-index: 0;
  inset: 0px;
  border-radius: inherit;
}

.top {
  display: flex;
  flex-direction: column;
  padding: 2.4rem 2.4rem 0;
}

.top > div:first-of-type {
  display: flex;
  align-items: center;
}

.top > div:first-of-type > span {
  line-height: 0;
  display: block;
  overflow: hidden;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 0.8rem;
}

.logoWrapper {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-size: cover !important;
}

.logoWrapper > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.top > div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  margin: 2.4rem 0 1.6rem;
}

.top > div:nth-of-type(2) > a {
  font-family: 'Barlows', sans-serif;
  font-weight: 600;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  font-size: 1.7rem;
}

.top > div:nth-of-type(2) > p {
  font-size: 1.3rem;
  color: rgb(34, 184, 207);
  margin-top: 0.4rem;
}

.location {
  display: flex;
  align-items: center;
  color: rgb(99, 115, 129);
  font-size: 1.3rem;
}

.location > svg {
  margin-right: 0.4rem;
  width: 1.8rem;
  height: 1.8rem;
}

.top > span {
  font-size: 1.2rem;
  color: rgb(145, 158, 171);
}

.box > hr {
  margin: 1.6rem 0;
  border-width: 0 0 thin;
  border-color: rgba(145, 158, 171, 0.24);
  border-style: dashed;
}

.bottom {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 1.2rem);
  margin-left: -1.2rem;
  margin-top: -1.2rem;
  padding: 0 2.4rem 2.4rem;
  font-size: 1.3rem;
  text-transform: capitalize;
  color: rgb(99, 115, 129);
}

.bottom > div {
  padding-left: 1.2rem;
  padding-top: 1.2rem;
  flex-basis: 50%;
  flex-grow: 0;
  max-width: 50%;
}

.bottom > div > div {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}

.bottom > div > div > svg {
  width: 2rem;
  height: 2rem;
  margin-right: 0.8rem;
  color: rgb(99, 115, 129);
  text-transform: capitalize;
}
